{% extends "indexbase.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}


{% endblock %}
{% block content %}



    {% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/tables.css')}}">
    {% endblock %}
    <div class="container bg-grey mt-2">
    <h5 class="display-6 text-center ">Python does not need compiler</h5>
    <!--  <p class="lead"></p>-->
</div>

<!-- Page content-->

<div class="container  mt-5">
    <div class="row">

        <div class="col-lg-8">
            <div class="container  bg-grey ">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h4 id="getting_started" class="fw-bolder mb-1">A Simple Calculator Using Flask </h4>
                        <!-- Post meta content-->
{#                        <div class="text-muted fst-italic mb-2">Posted on December 13, 2021 by Now-U-Know. Image Credit:Kowsalya Vijayan</div>#}
         </header>
                    <!-- Preview image figure-->

                    <!-- Post content-->


                    <section class="mb-3" >
                        <div class="row" >

                        {% if error %}
                        <div class="alert alert-danger error" role="alert">
                        {{ error }}
                        </div>
                        {% endif %}


                            <div class="col">
                                <div class="card mb-4 mt-7  ">
<!--                                    <h5 class="header-colorize text-uppercase ">Calculator Program</h5>-->

                                    <div class="container" >
                                        <div class="row text-md-center text-center">
                                        <h5 class="highlight header-colorize text-uppercase " style ="margin-top:10px" >PYTHON CALCULATOR </h5>
                                        </div>
                                        <form action="/basicform" method="POST">
                                        <div class="form-group mb-4 " style ="margin-top:20px">
                                            <label for="value1">Number 1:</label>
                                            <input type="text" class="form-control" id="value1" placeholder="Enter first number" name="value1">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="value2">Number 2:</label>
                                            <input type="text" class="form-control" id="value2" placeholder="Enter second number" name="value2">
                                        </div>

                                        <fieldset class="form-group mb-3">
                                            <div class="row">
                                                <legend class="col-form-label col-md-2 pt-0">Operations</legend>
                                                <div class="col-sm-10">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="operation" id="addition" value="addition" checked>
                                                        <label class="form-check-label" for="addition">
                                                            Addition
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="operation" id="subtraction" value="subtraction">
                                                        <label class="form-check-label" for="subtraction">
                                                            Subtraction
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="operation" id="multiplication" value="multiplication">
                                                        <label class="form-check-label" for="multiplication">
                                                           Multiplication
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="operation" id="division" value="division">
                                                        <label class="form-check-label" for="division">
                                                            Division
                                                        </label>
                                                    </div>
                                                </div></div>
                                                    </fieldset>

                                                        <div class="row">
                                                            <div class="col text-center">
                                                        <button type="submit" class="btn btn-primary mb-3 " value="submit">Submit</button>
                                                    </div></div>
                                        </form>


                                    </div>
                                </div>
                                {% if calculation_performed ==True %}
                                 <div class="container mb-3" style="background-color:#D4EDDA">
                                 <div class="row">
                                     <div class="col">
                                     <p style="margin-top: 10px"> The {{ operation }} of {{ value1 }} and {{ value2 }} is {{ result }}</p>
                                         </div>
                                 </div>
                                 </div>
                                    <div class="container mb-3 bg-white">

                                    <div class="row">
{#                                    Adding beautiful tables #}


{#                                 <div class="row text-md-center text-center">#}
                                        <h5 class="highlight header-colorize text-uppercase " style ="margin-top:10px" >CALCULATION HISTORY</h5>
{#                                        </div>#}
{#                                 <div class="col">#}
                                      <div class="table-responsive-md">

                                         <table id="data" class="table table-striped text-overflow: ellipsis "  data-sort-order="desc">
                                         <thead>
                                         <tr>
                                        <th >Operation</th>
      	                                <th >Number1</th>
                                        <th >Number2</th>
	                                    <th>Result</th>
	                                    </tr></thead>
                                        <tbody>
                                          {% for value in myData%}
                                        <tr>
                                            <td>{{ value[0] }}</td>
                                        <td>{{ value[1] }}</td>
                                        <td>{{ value[2] }}</td>
                                        <td>{{ value[3] }}</td>

                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                        </table>
                                </div>
                                  </div>
                                 </div>
                                    </div>

                                {% endif %}
                            </div>
{#                        div1#}
{#                      </div>#}
                    </section>

                </article>
            </div>
        </div>

        <!-- Side widgets-->

        <div class="col-lg-4 mt-4">

            <!-- Search widget-->

            <div class="card mb-4 ">
                <div class="card-header text-md-center text-center">Code Repositories for Hand On training</div>
                <div class="card-body">
                    <div class="row text-md-center text-center" >
                        <!--                        <div class="col-md-6">-->
                        <!--                            <ul class="list-inline-item  mb-0">-->
                        <p ><a href="https://github.com/njitvjk/Project2_crashcource/tree/python_concepts">python_basic_concepts</a></p>
                        <p ><a href="https://github.com/njitvjk/Project2_crashcource/tree/SOLID">Understanding SOLID principles</a></p>
                        <p ><a href="https://github.com/njitvjk/Project2_crashcource/tree/branch1">AAA testing with External data</a></p>
                        <p ><a href="https://github.com/njitvjk/Project2_crashcource/tree/calc_part2">OOPS concepts using Calculator Program</a></p>
                        <p><a href="  https://github.com/njitvjk/calc2/tree/calc_part3">Calculator Program with tuples</a></p>



                        <!--                        </div>-->
                    </div>
                </div>
            </div>
            <div class="card mb-4 ">
                <div class="card-header text-md-center text-center">Online Resources</div>
                <div class="card-body">
                    <div class="row text-md-center text-center" >
                        <!--                        <div class="col-md-6">-->
                        <!--                            <ul class="list-inline-item  mb-0">-->
                        <p ><a href="https://www.programiz.com/python-programming">Python for beginners</a></p>
                        <p ><a href="https://www.python.org/">Official Python Website</a></p>
                        <p ><a href="https://en.wikipedia.org/wiki/Python_(programming_language)">Wikipedia-Python</a><p>
                        <!--                        </div>-->
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>



{% endblock %}
