{% extends "indexbase.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}
    {% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">
    {% endblock %}
    <div class="container bg-grey mt-2">
    <h5 class="display-6 text-center ">"A Zen of Python" is an interesting poem about Python</h5>
    <!--  <p class="lead"></p>-->
</div>

<!-- Page content-->

<div class="container  mt-5">
    <div class="row">

        <div class="col-lg-8">
            <div class="container  bg-grey ">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h2 id="getting_started" class="fw-bolder mb-1">A Simple Calculator Using Flask </h2>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Posted on December 13, 2021 by Now-U-Know. Image Credit:Kowsalya Vijayan</div>
                        <a class="badge bg-secondary text-decoration-none link-light" href="{{ url_for('calculator') }}">Try Calculator here</a>
                        <!--                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>-->
                    </header>
                    <!-- Preview image figure-->

                    <!-- Post content-->

                    <section class="mb-5">
                        <div class="row">
                        <div class="col">

                            <img class="img-fluid rounded mb-2" src="{{url_for('static', filename='images/flask.png')}}" alt="..." />

                        </div>
                        <div class="col-md-5 text-align:justify">

                            <p style="text-align:justify"><i><b>Flask</b></i> is a web application framework written in Python. It was developed by <i>Armin Ronacher</i>, who led a team of international Python enthusiasts called <i>Poocco</i>. Flask is based on the Werkzeg WSGI toolkit and the Jinja2 template engine.

                                Unlike the Django framework,
                            </p>


                        </div>


                            <p>Flask is very Pythonic. It’s easy to get started with Flask, because it doesn’t have a huge learning curve.

                                On top of that it’s very explicit, which increases readability.</p>
                            <h6 class=text-muted id="WSGI"><i>WSGI</i></h6>
                            <p style="text-align:justify">The Web Server Gateway Interface (Web Server Gateway Interface, WSGI) has been used as a standard for Python web application development. WSGI is the specification of a common interface between web servers and web applications.</p>
                            <h6 class=text-muted id="Jinja"><i>jinja2</i></h6>
                            <p style="text-align:justify">jinja2 is a popular template engine for Python.A web template system combines a template with a specific data source to render a dynamic web page.</p>
                            <h6 class=text-muted id="calculator"><i>Python Flask Calculator</i></h6>
                            <p style="text-align:justify">Using flask framework, a simple calculator has been created , click the badge on the Introduction section to test the operations and you can also view the history rendered a nice table format.</p>
                            <p style="text-align:justify">The Calculator used the common flash functionalities like
                            <ul style="padding-left:50px "><i><li>Importing flask </li><li>Creating the flask instance</li>
                            <li>Creating routes in the application</li>
                            <li>Creating methods that are invoked when a specific route is called</li></i></ul>
                            </p>
                             <div class="col-md-5">

                            <img class="img-fluid rounded mb-2" src="{{url_for('static', filename='images/flask_1.png')}}" alt="..." />

                        </div>
                        <div class="col text-align:justify">

                            <p style="text-align:justify">we need to set up our files to run a Flask application. For this example I created two folders which are <b>static</b> and <b>templates</b> in my project.<p/>
                                <p><i>(Remember static and templates are folders we create in our root directory in order to let our flask app know where to look)</i>

                              </p>
                            <p> folder <b>Calc</b> contains the arithematic operations methods.They process all inputs from the user form in webpage and returns back the output</p>
                            </div>


                            <p>The image represents the form for calculation, all arithematic operations are available.The User has to provide input and it shows the output</p>

                            <img class="img-fluid rounded mb-2" src="{{url_for('static', filename='images/calc1.png')}}" alt="..." />

                             <h6 class=text-muted id="history"><i>Calculator Output and History </i></h6>
                            <p style="text-align:justify">You can see Output displayed below and Also the history of Calculations are shown to the user in the form of table. The text box validation is done and if a value is empty or any special characters are
                                given , the form shows a flash message for invalid output

                              </p>
                             <img class="img-fluid rounded mb-2" src="{{url_for('static', filename='images/calc2.png')}}" alt="..." />








                    </div>
                    </section>

                </article>
            </div>
        </div>

        <!-- Side widgets-->

        <div class="col-lg-4 mt-4">
            <div class="card mb-4 mt-7 bg-grey ">
                <h5 class="highlight header-colorize text-uppercase ">Table of contents</h5>
                <div class="card-body  header-colorize " style="padding-left: 80px"><a href="#getting_started">Getting Started</a></div>
                <div class="card-body  header-colorize " style="padding-left: 80px"><a href="#calculator">Python Flask Calculator</a></div>
                <div class="card-body  header-colorize " style="padding-left: 80px"><a href="#history">Calculation history</a></div>



            </div>
            <!-- Search widget-->

            <div class="card mb-4 ">
                <div class="card-header text-md-center text-center">Code Repositories for Hand On training</div>
                <div class="card-body">
                    <div class="row text-md-center text-center" >
                        <!--                        <div class="col-md-6">-->
                        <!--                            <ul class="list-inline-item  mb-0">-->
                        <p ><a href="https://github.com/njitvjk/Project2_crashcource/tree/python_concepts">python_basic_concepts</a></p>
                        <p ><a href="https://github.com/njitvjk/Project2_crashcource/tree/SOLID">Understanding SOLID principles</a></p>
                        <p ><a href="https://github.com/njitvjk/Project2_crashcource/tree/branch1">AAA testing with External data</a></p>
                        <p ><a href="https://github.com/njitvjk/Project2_crashcource/tree/calc_part2">OOPS concepts using Calculator Program</a></p>
                        <p><a href="  https://github.com/njitvjk/calc2/tree/calc_part3">Calculator Program with tuples</a></p>



                        <!--                        </div>-->
                    </div>
                </div>
            </div>
            <div class="card mb-4 ">
                <div class="card-header text-md-center text-center">Online Resources</div>
                <div class="card-body">
                    <div class="row text-md-center text-center" >
                        <!--                        <div class="col-md-6">-->
                        <!--                            <ul class="list-inline-item  mb-0">-->
                        <p ><a href="https://www.programiz.com/python-programming">Python for beginners</a></p>
                        <p ><a href="https://www.python.org/">Official Python Website</a></p>
                        <p ><a href="https://en.wikipedia.org/wiki/Python_(programming_language)">Wikipedia-Python</a><p>
                        <!--                        </div>-->
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>





{% endblock %}