<!doctype html>
<html lang="en">
<html>
<head>
   <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    {#    <title>OOPS_Principles</title>#}
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
{#<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">#}
{#    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link href="{{url_for('static', filename='css/custom.css')}}">
    <title>{% block title %}{% endblock %}</title>
    </head>
    <body>


{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <div class="container px-lg-5">
            <a class="navbar-brand active" aria-current="page" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/prjlogo.jpg') }}">
            </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0"  >
                <!--                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">HOME</a></li>-->
                <li class="nav-item"><a class="nav-link" href="{{ url_for('basics') }}">PYTHON BASICS</a></li>
                <li class="nav-item"><a class="nav-link" href="OOPS.html">OOPS</a></li>
                <li class="nav-item"><a class="nav-link" href="pylint.html">PYLINT</a></li>
                <li class="nav-item"><a class="nav-link" href="testing.html">TESTING</a></li>
                <li class="nav-item"><a class="nav-link" href="/calculator">SIMPLE CALCULATOR</a></li>
                <li class="nav-item"><a class="nav-link" href="glossary.html">GLOSSARY</a></li>
            </ul>
        </div>
        </div>
    </nav>
{% endblock %}

{% block content %}{% endblock %}
{% block footer %}
  <footer class="py-3  bg-dark" >

        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Kowsalya_Vijayan 2021</p>

            <p class="m-1 text-center text-white">
                <a href="https://github.com/njitvjk/python_project" >Project Repo</a><span></span>

                <a href="http://validator.w3.org/check/referer"><img src="https://www.w3.org/Icons/valid-html401-blue" alt=""></a></p>
        </div>

  </footer>
{% endblock %}

{#    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>#}

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>#}

    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/scrollspy.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.easing.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>

</body>
</html>